<html>
<body>
       <div>
           <form method="post">
               <input type="text" name="text" placeholder="Введите сообщение" />
               <input type="text" name="tag" placeholder="Тэг" />
               <button type="submit">Добавить</button>
           </form>
       </div>
       <div> Cписок сообщеий </div>
       {{#messages}}
       <div>
            <b> {{id}}   </b>
            <b> {{name}} </b>
            <i>  {{tag}}</i>
       </div>
        {{/message}}

</body>
</html>